<html>
<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="gamebuddy-title">
        <h1>Steam GameBuddy</h1>
    </div>
    <a class="logout-button" href="/logout">Logout</a>
    <div class="tab-navigation">
        <a class="tab" href="/gamesearch">Game Search</a>
        <a class="tab active" href="/accountinfo">Account Info</a>
        <a class="tab" href="/friends">Friends</a>
        <a class="tab" href="/games">Your Games</a>
    </div>

    <div class="main-box">
        <h2>Change Password:</h2>
        <form method="POST" action="/accountinfo">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Current Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>

            <input type="submit" value="Change Password">
            
        </form>
        <h2>Add/Update Computer:</h2>
        <a class="add-computer-button" href="/addcomp">Add Computer</a>
        <h2>Delete Account:</h2>
        <a class="delete-account" href="/deleteaccount">Delete Account</a>
    </div>

</body>
</html>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}