<html>
<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="gamebuddy-title">
        <h1>Steam GameBuddy</h1>
    </div>
    <div class="account-box">
        <h2>Delete</h2>
        <form method="POST" action="/deleteaccount">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <input type="submit" value="Delete Account">
        </form>
    </div>
</body>
</html>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}