<html>
<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="gamebuddy-title">
        <h1>Steam GameBuddy</h1>
    </div>
    <a class="logout-button" href="/logout">Logout</a>
    <div class="tab-navigation">
        <a class="tab" href="/gamesearch">Game Search</a>
        <a class="tab" href="/accountinfo">Account Info</a>
        <a class="tab" href="/friends">Friends</a>
        <a class="tab active" href="/games">Your Games</a>
    </div>
</body>
</html>