<html>
<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="gamebuddy-title">
        <h1>Steam GameBuddy</h1>
    </div>
    <div class="login-box">
        <h2>Login</h2>
        <form method="POST" action="/">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
</body>
</html>

<!-- Code to tell user that their username or password is incorrect -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}