<html>
<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="gamebuddy-title">
        <h1>Steam GameBuddy</h1>
    </div>
    <a class="logout-button" href="/logout">Logout</a>
    
    <div class="tab-navigation">
        <a class="tab active" href="/gamesearch">Game Search</a>
        <a class="tab" href="/gamerec">Game Reccomender</a>
        <a class="tab" href="/accountinfo">Account Info</a>
        <a class="tab" href="/friends">Friends</a>
        <a class="tab" href="/games">Your Games</a>
    </div>

    <div class="main-box">
        <h2>Game Search</h2>

    
        <form method="POST" action="/gamesearch">
            <label for="keyword">Game Name Keyword:</label>
            <input type="text" id="keyword" name="keyword">

            <label for="category">Game Category:</label>
            <select id="category" name="category">
                <option value="None">Any Category</option>
                <option value="CategorySinglePlayer">Singleplayer</option>
                <option value="CategoryMultiplayer">Multiplayer</option>
                <option value="CategoryCoop">Co-op</option>
                <option value="CategoryInAppPurchase">In App Purchases</option>
                <option value="CategoryIncludeSrcSDK">Includes Source SDK</option>
                <option value="CategoryIncludeLevelEditor">Includes Level Editor</option>
                <option value="CategoryVRSupport">VR Support</option>
            </select>

            <label for="genre">Game Genre:</label>
            <select id="genre" name="genre">
                <option value="None">Any Genre</option>
                <option value="GenreIsNonGame">Non-Game</option>
                <option value="GenreIsIndie">Indie</option>
                <option value="GenreIsAction">Action</option>
                <option value="GenreIsAdventure">Adventure</option>
                <option value="GenreIsCasual">Casual</option>
                <option value="GenreIsStrategy">Strategy</option>
                <option value="GenreIsRPG">RPG</option>
                <option value="GenreIsSimulation">Simulation</option>
                <option value="GenreIsEarlyAccess">Early Access</option>
                <option value="GenreIsFreeToPlay">Free To Play</option>
                <option value="GenreIsSports">Sports</option>
                <option value="GenreIsRacing">Racing</option>
                <option value="GenreIsMassivelyMultiplayer">Massively Multiplayer</option>
            </select>

            <label for="price">Price Limit:</label>
            <input type="number" min=0 step=0.01 id="price" name="price">

            <label for="reviewscore">Review Score:</label>
            <input type="number" min=0 max=100 id="reviewscore" name="reviewscore">
            
            <input type="submit" value="Search">
        </form>
    </div>
</body>
</html>






