<html>
<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="gamebuddy-title">
        <h1>Steam GameBuddy</h1>
    </div>
    <div class="signup-box">
        <h2>Sign Up</h2>
        <form method="POST" action="/signup">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <input type="submit" value="Sign Up">
        </form>
        <p>Already have an account? <a href="/">Login</a></p>
    </div>
</body>
</html>

<!-- Code to tell user that their username is not unqiue/already in database -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}